.image{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
}
.aboutContainer{
  width: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  gap: 10px;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.aboutListContainer{
  display: flex;
  justify-content: center;
  margin: 30px 0 100px;
}
.parentContainer{
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationL);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--spaceL), 0);
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}


.heading {
  margin-bottom: 50px;
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationL);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--spaceL), 0);
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}
